html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: white;
}

.navbar-nav {
  text-align: center;
  border: 1px solid red;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.info {
  background-color: #B2A6FB;
  padding: 2em;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-left {
  height: 30%;
  width: auto;
}

.info-right {
  margin-top: -30px;
  text-align: justify;
}

.resume-btn {
  align-self: center;
  margin-top: 2em;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border: 1px solid red;
}


.skills {
  /* background-color: #C4F4EB; */
  padding: 2em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid red; */
}

.skill>img {
  width: 60px;
  height: 60px;
}

.square {
  flex: 1 0 auto;
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  gap: 1em;
}

.up-when-hover {
  transition: transform ease 300ms;
}

.up-when-hover:hover {
  transform: translate(0, -15px);
}

.view-all-projects {
  /* background-color: #B2A6FB; */
  /* font-family: 'Courier New', Courier, monospace; */
  text-align: center;
  font-size: 3em;
  color: black;
  font-weight: 900;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
  margin: 1em 0em;
}

.view-all-projects:hover {
  text-decoration: none;
}


.project-item>img {
  border: none;
  margin-bottom: 1em;
}

.project-item p {
  text-align: justify;
}

small:hover {
  font-weight: bolder;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.project-button {
  border: none;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.projects-skill {
  width: 40px;
  height: 40px;
}

.projects-skills {
  margin: 0.5em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

footer {
  background-color: aqua;
  margin: auto;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .img-right {
    box-shadow: 12px 20px 20px 1px rgba(0, 0, 0, 1);
  }

  .img-left {
    box-shadow: -12px 20px 20px 1px rgba(0, 0, 0, 1);
  }

  .navbar-nav {
    font-size: 1.5em;
  }

  .skill>img {
    width: 100px;
    height: 100px;
  }

  .skills {
    padding: 3em 5em;
    gap: 2em;
  }

  .skill {
    gap: 20px;
  }

  .buttons {
    justify-content: flex-start;
  }

  .projects-skill {
    width: 50px;
    height: 50px;
  }

  .projects-skills {
    margin: 1em 0em;
    justify-content: flex-start;
  }

  .resume-btn {
    margin-top: 0px;
  }

  .navbar {
    background-color: transparent;
  }

  .info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .info-left {
    border: 1px solid red;
    /* width: 70%;
    height: auto; */
    flex: 5 0 2;
  }

  .info-right {
    width: 100px;
    height: auto;
    display: inline-flex;
    border: 1px solid red;
    margin-top: 0px;
    flex: 1 2 0;
    flex-wrap: wrap;
  }
}