html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: white;
}

.navbar-nav {
  text-align: center;
  /* border: 1px solid red; */
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.info {
  /* background-color: #B2A6FB; */
  padding: 2em;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: block;
}

.info-name {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  color: #004aad;
  text-shadow: 8px 8px rgba(255, 87, 87, 0.4);
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-name:nth-child(-n+2) {
  display: none;
}

.slash {
  display: none;
}

.info-right {
  margin-top: 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-btn {
  align-self: center;
  margin-top: 2em;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  /* border: 1px solid red; */
}


.skills {
  /* background-color: #C4F4EB; */
  padding: 2em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid red; */
}

.skill>img {
  width: 60px;
  height: 60px;
}

.square {
  flex: 1 0 auto;
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  gap: 1em;
}

.up-when-hover {
  transition: transform ease 300ms;
}

.up-when-hover:hover {
  transform: translate(0, -15px);
}

.view-all-projects {
  /* background-color: #B2A6FB; */
  /* font-family: 'Courier New', Courier, monospace; */
  text-align: center;
  font-size: 3em;
  color: black;
  font-weight: 900;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
  margin: 1em 0em;
}

.view-all-projects:hover {
  text-decoration: none;
}


.project-item>img {
  border: none;
  margin-bottom: 1em;
}

.project-item p {
  text-align: justify;
}

small:hover {
  font-weight: bolder;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.project-button {
  border: none;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.projects-skill {
  width: 40px;
  height: 40px;
}

.projects-skills {
  margin: 0.5em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

footer {
  background-color: aqua;
  margin: auto;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .img-right {
    box-shadow: 12px 20px 20px 1px rgba(0, 0, 0, 1);
  }

  .img-left {
    box-shadow: -12px 20px 20px 1px rgba(0, 0, 0, 1);
  }

  .navbar-nav {
    font-size: 1.5em;
  }

  .skill>img {
    width: 100px;
    height: 100px;
  }

  .skills {
    padding: 3em 5em;
    padding-top: 0px;
    gap: 2em;
  }

  .skill {
    gap: 20px;
  }

  .buttons {
    justify-content: flex-start;
  }

  .projects-skill {
    width: 50px;
    height: 50px;
  }

  .projects-skills {
    /* margin: 1em 0em; */
    justify-content: flex-start;
  }

  .resume-btn {
    margin-top: 0px;
  }

  .navbar {
    background-color: transparent;
  }

  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    background-image: url('./images/info-bg.jpg');
    background-position: center;
  }

  .info-name {
    text-shadow: 5px 5px rgba(255, 87, 87, 1);
    /* color: red; */
    /* border: 1px solid red; */
    font-size: 7em;
    width: 70%;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    position: relative;
  }

  .info-name:nth-child(-n+2) {
    display: flex;
  }

  .slash {
    display: inline;
    color: red;
  }

  .info-left {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .info-left::before {
    content: "";
    background-image: url('./images/info-bg.jpg');
    background-size: cover;
    position: absolute;
    opacity: 0.5;
  } */

  .info-right {
    padding: 0em 3em;
    /* border: 1px solid red; */
    margin-top: 0px;
    /* flex-shrink: 1; */
    flex-wrap: wrap;
    gap: 1.5em;
    margin-bottom: 1em;
  }
}